@charset "UTF-8";
/* general */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* copyright */
.footer__copyright {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

/* index.html */
.body__index {
  background-color: #ca7a4c;
}
.body__index nav img {
  width: 60px;
  padding: 9px;
  background-color: maroon;
}
.body__index .carousel img {
  width: 100%;
  height: 45rem;
}
.body__index .productos {
  background-image: url(imagenes/fondoIndex.jpg);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 200px;
}
.body__index .productos h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  margin-bottom: 50px;
}
.body__index .productos .imagenes {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  grid-column-gap: 180px;
  grid-row-gap: 180px;
  justify-content: center;
}
.body__index .productos .imagenes img {
  width: 200px;
  height: 200px;
  border: dotted 5px #9ec24b;
}
.body__index .productos .imagenes img:hover {
  transform: scale(1.1);
}
.body__index footer {
  height: max-content;
  width: 100%;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.808);
  color: #dbe1e6;
}
.body__index footer .redesSociales {
  display: flex;
  justify-content: space-evenly;
}
.body__index footer .redesSociales .redes {
  margin-top: 20px;
}
.body__index footer .redesSociales .redes h2 {
  text-align: center;
}
.body__index footer .redesSociales .redes img {
  padding: 10px;
}
.body__index footer .redesSociales .lorem {
  margin-top: 30px;
}
.body__index footer .redesSociales .lorem h3 {
  display: inline;
  padding: 20px;
}

/* registro.html */
.body__registro {
  font-family: "Style Script", cursive;
  background-image: url(imagenes/fondoCorchoR.jpg);
  background-size: cover;
}
.body__registro .volver {
  color: #faf5f0;
  font-size: 45px;
  padding: 50px;
}
.body__registro .formulario {
  background-color: #f3d6b3;
  height: auto;
  width: 16cm;
  margin: auto;
  margin-bottom: 30px;
  border: dotted 10px #f1b872;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.body__registro .formulario h1 {
  background-color: bisque;
  font-size: 140px;
  color: #f0ad56;
  text-align: center;
}
.body__registro .formulario .txt {
  width: 5cm;
  height: 26px;
}
.body__registro .formulario .txt:focus {
  width: 6cm;
  height: 30px;
  font-size: 16px;
}
.body__registro .formulario .TYCR {
  color: #7979eb;
}
.body__registro .formulario .button {
  background-color: #fdcc8b;
  width: 4cm;
  height: 38px;
  font-size: 28px;
  font-family: "Style Script", cursive;
}
.body__registro .formulario .menu {
  width: 7cm;
  height: 30px;
  font-size: 20px;
  background-color: #ffcd91;
}

/* inicioSesión.html */
.body__inicioSesion {
  background-image: url(imagenes/fondoBodegaIS.jpg);
  background-size: 120rem;
  font-family: "Style Script", cursive;
}
.body__inicioSesion .volver {
  color: blanchedalmond;
  font-size: 45px;
  padding: 40px;
}
.body__inicioSesion .formulario {
  width: 650px;
  height: 450px;
  text-align: center;
  margin: auto;
  margin-top: 130px;
  border: dotted 8px #92844d;
  background-color: #ffebd2;
  font-size: 50px;
  color: #333;
  display: flex;
  flex-direction: column;
}
.body__inicioSesion .formulario h1 {
  font-size: 130px;
  color: #ac906c;
  background-color: bisque;
}
.body__inicioSesion .formulario input {
  width: 200px;
  height: 25px;
}
.body__inicioSesion .formulario input:focus {
  width: 250px;
  height: 30px;
  font-size: 20px;
}
.body__inicioSesion .formulario button {
  background-color: #f0d8b5;
  width: 140px;
  height: 30px;
  font-size: 23px;
  font-family: "Style Script", cursive;
}

/* nosotros.html */
.body__nosotros {
  font-family: "Style Script", cursive;
  font-size: 40px;
  background-image: linear-gradient(to bottom, #ebb87b, bisque);
}
.body__nosotros h1 {
  text-align: center;
  font-size: 60px;
}
.body__nosotros .nosotros {
  margin: 15px 6cm 0px 6cm;
  display: flex;
  justify-content: space-evenly;
}
.body__nosotros .nosotros .texto h2 {
  text-align: center;
}
.body__nosotros .nosotros .imagen {
  margin: 20px;
}
.body__nosotros .nosotros .imagen img {
  width: 600px;
  height: 370px;
  border: dotted black 8px;
}
.body__nosotros footer {
  margin-top: 20px;
}

/* contacto.html */
.body__contacto {
  background-color: aliceblue;
  font-family: "EB Garamond", serif;
}
.body__contacto nav {
  padding: 15px;
  font-size: 30px;
}
.body__contacto h1 {
  text-align: center;
  text-decoration: overline underline;
  font-size: 50px;
  padding: 50px;
}
.body__contacto .contacto {
  display: flex;
  justify-content: space-evenly;
}
.body__contacto .contacto .textoItems {
  width: 40%;
  font-size: 20px;
}
.body__contacto .contacto .textoItems ul {
  margin-top: 25px;
}
.body__contacto .contacto .textoItems ul li {
  list-style: none;
  padding: 12px;
}
.body__contacto .mapa {
  width: 40%;
}
.body__contacto footer {
  height: max-content;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.781);
  background-size: cover;
  color: aliceblue;
  margin-top: 100px;
}
.body__contacto footer .redesSociales {
  display: flex;
  justify-content: space-evenly;
}
.body__contacto footer .redesSociales .redes {
  margin-top: 10px;
}
.body__contacto footer .redesSociales .redes h2 {
  text-align: center;
}
.body__contacto footer .redesSociales .redes img {
  padding: 10px;
}
.body__contacto footer .redesSociales .lorem {
  margin-top: 10px;
}
.body__contacto footer .redesSociales .lorem h3 {
  display: inline;
  padding: 20px;
}
.body__contacto footer .redesSociales .botella {
  width: 110px;
  height: 100px;
  margin-top: 10px;
}

/* terminosYCondiciones.html */
.body__terminosYCondiciones {
  background-color: rgba(141, 141, 216, 0.377);
}
.body__terminosYCondiciones nav {
  font-size: 30px;
  padding: 10px;
}
.body__terminosYCondiciones h1 {
  text-align: center;
  text-decoration: underline double #393985;
  margin-bottom: 55px;
  margin-top: 10px;
}
.body__terminosYCondiciones .TYC h2 {
  margin-left: 80px;
}
.body__terminosYCondiciones .TYC p {
  padding: 30px;
  font-size: 25px;
  font-family: "WindSong", cursive;
  color: black;
}
.body__terminosYCondiciones .TYC ul {
  margin-bottom: 35px;
}
.body__terminosYCondiciones .TYC ul li {
  padding: 6px;
  margin-left: 6.3cm;
  font-size: 20px;
  font-family: "WindSong", cursive;
}

/*error404*/
.body__error {
  background-image: url(imagenes/error.jpg);
  background-size: cover;
}
.body__error h1 {
  font-size: 100px;
  margin-top: 3cm;
  margin-left: 7.4cm;
  color: aquamarine;
}
.body__error h2 {
  font-size: 59px;
  margin-top: 6cm;
  margin-left: 6cm;
}
.body__error h3 {
  width: max-content;
  margin-top: 40px;
  margin-left: 10.7cm;
  font-size: 40px;
  animation: rebote 0.5s infinite 3s;
}
@keyframes rebote {
  0% {
    tranform: translate(0px, 0px);
  }
  25% {
    transform: translate(-3px, 0px);
  }
  50% {
    transform: translate(1px, 0px);
  }
  75% {
    transform: translate(5px, 0px);
  }
  100% {
    tranform: translate(0px, 0px);
  }
}
.body__error h3:hover {
  font-size: 42px;
  margin-left: 10.5cm;
}

/* media querie index.html*/
@media (max-width: 576px) and (orientation: portrait) {
  .body__index .carousel img {
    height: 30rem;
  }
  .body__index .productos {
    background-image: none;
    padding-top: 50px;
    padding-bottom: 100%;
  }
  .body__index .productos .imagenes {
    grid-template-columns: repeat(2, 25%);
    grid-template-rows: repeat(5, 20%);
    grid-column-gap: 15%;
    grid-row-gap: 10%;
    justify-items: center;
  }
  .body__index .productos .imagenes img {
    width: 120%;
    height: 120%;
  }
  .body__index footer .redes h2 {
    font-size: 20px;
  }
  .body__index footer .redes img {
    width: 40%;
    height: 40%;
  }
  .body__index footer .lorem h3 {
    font-size: 20px;
  }
}
@media (min-width: 576px) and (max-width: 768px) and (orientation: portrait) {
  .body__index .carousel img {
    height: 35rem;
  }
  .body__index .productos {
    background-image: none;
    padding-top: 50px;
    padding-bottom: 100%;
  }
  .body__index .productos .imagenes {
    grid-template-columns: repeat(2, 25%);
    grid-template-rows: repeat(5, 20%);
    grid-column-gap: 15%;
    grid-row-gap: 10%;
    justify-items: center;
  }
  .body__index .productos .imagenes img {
    width: 120%;
    height: 120%;
  }
  .body__index footer .redes h2 {
    font-size: 25px;
  }
  .body__index footer .redes img {
    width: 40%;
    height: 40%;
  }
  .body__index footer .lorem h3 {
    font-size: 25px;
  }
}
@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  .body__index .carousel img {
    height: 40rem;
  }
  .body__index .productos {
    background-image: none;
    padding-top: 50px;
    padding-bottom: 100%;
  }
  .body__index .productos .imagenes {
    grid-template-columns: repeat(2, 25%);
    grid-template-rows: repeat(5, 20%);
    grid-column-gap: 15%;
    grid-row-gap: 10%;
    justify-items: center;
  }
  .body__index .productos .imagenes img {
    width: 120%;
    height: 120%;
  }
  .body__index footer .redesSociales .redes h2 {
    font-size: 30px;
  }
  .body__index footer .redesSociales .redes img {
    width: 40%;
    height: 40%;
  }
  .body__index footer .redesSociales .lorem h3 {
    font-size: 30px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) and (orientation: portrait) {
  .body__index .carousel img {
    height: 40rem;
  }
  .body__index .productos {
    background-image: none;
    padding-top: 50px;
    padding-bottom: 100%;
  }
  .body__index .productos .imagenes {
    grid-template-columns: repeat(2, 25%);
    grid-template-rows: repeat(5, 20%);
    grid-column-gap: 15%;
    grid-row-gap: 10%;
    justify-items: center;
  }
  .body__index .productos .imagenes img {
    width: 120%;
    height: 120%;
  }
  .body__index footer .redesSociales .redes h2 {
    font-size: 30px;
  }
  .body__index footer .redesSociales .redes img {
    width: 40%;
    height: 40%;
  }
  .body__index footer .redesSociales .lorem h3 {
    font-size: 30px;
  }
}
@media (max-height: 576px) and (orientation: landscape) {
  .body__index .carousel img {
    height: 30rem;
  }
  .body__index .productos {
    background-image: none;
    padding-top: 50px;
  }
  .body__index .productos .imagenes {
    grid-column-gap: 15%;
    grid-row-gap: 10%;
    justify-items: center;
  }
  .body__index .productos .imagenes img {
    width: 100%;
    height: 100%;
  }
  .body__index footer .redes h2 {
    font-size: 110%;
  }
  .body__index footer .redes img {
    width: 28%;
    height: 28%;
  }
  .body__index footer .lorem h3 {
    font-size: 20px;
  }
}
@media (min-height: 576px) and (max-height: 768px) and (orientation: landscape) {
  .body__index .carousel img {
    height: 35rem;
  }
  .body__index .productos {
    background-image: none;
    padding-top: 50px;
    margin-bottom: 10%;
  }
  .body__index .productos .imagenes {
    grid-column-gap: 17%;
    grid-row-gap: 15%;
    justify-items: center;
  }
  .body__index .productos .imagenes img {
    width: 120%;
    height: 120%;
  }
  .body__index footer .redes h2 {
    font-size: 25px;
  }
  .body__index footer .redes img {
    width: 30%;
    height: 30%;
  }
  .body__index footer .lorem h3 {
    font-size: 25px;
  }
}
@media (min-height: 768px) and (max-height: 886px) and (orientation: landscape) {
  .body__index .carousel img {
    height: 40rem;
  }
  .body__index .productos {
    background-image: none;
    padding-top: 50px;
    margin-bottom: 10%;
  }
  .body__index .productos .imagenes {
    grid-column-gap: 16%;
    grid-row-gap: 15%;
    justify-items: center;
  }
  .body__index .productos .imagenes img {
    width: 120%;
    height: 120%;
  }
  .body__index footer .redesSociales .redes h2 {
    font-size: 27px;
  }
  .body__index footer .redesSociales .redes img {
    width: 30%;
    height: 30%;
  }
  .body__index footer .redesSociales .lorem h3 {
    font-size: 27px;
  }
}
/*media querie nosotros.html*/
@media (max-width: 576px) and (orientation: portrait) {
  .body__nosotros nav {
    font-size: 70%;
  }
  .body__nosotros h1 {
    font-size: 180%;
  }
  .body__nosotros .nosotros {
    margin-left: 5px;
    margin-right: 5px;
  }
  .body__nosotros .nosotros .texto {
    font-size: 60%;
    height: 100%;
    width: 100%;
  }
  .body__nosotros .nosotros .imagen img {
    width: 220px;
    height: 220px;
    border: dotted black 5px;
  }
  .body__nosotros footer p {
    font-size: 50%;
  }
}
@media (min-width: 576px) and (max-width: 768px) and (orientation: portrait) {
  .body__nosotros nav {
    font-size: 70%;
  }
  .body__nosotros h1 {
    font-size: 180%;
  }
  .body__nosotros .nosotros {
    margin-left: 5px;
    margin-right: 5px;
  }
  .body__nosotros .nosotros .texto {
    font-size: 75%;
    height: 90%;
    width: 90%;
  }
  .body__nosotros .nosotros .imagen img {
    width: 250px;
    height: 250px;
    border: dotted black 5px;
  }
  .body__nosotros footer p {
    font-size: 50%;
  }
}
@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  .body__nosotros nav {
    font-size: 80%;
  }
  .body__nosotros h1 {
    font-size: 190%;
  }
  .body__nosotros .nosotros {
    margin-left: 10px;
    margin-right: 10px;
  }
  .body__nosotros .nosotros .texto {
    font-size: 85%;
    height: 85%;
    width: 85%;
  }
  .body__nosotros .nosotros .imagen img {
    width: 300px;
    height: 300px;
    border: dotted black 5px;
  }
  .body__nosotros footer p {
    font-size: 50%;
  }
}
@media (max-height: 576px) and (orientation: landscape) {
  .body__nosotros nav {
    font-size: 90%;
  }
  .body__nosotros h1 {
    font-size: 180%;
  }
  .body__nosotros .nosotros {
    margin-left: 5px;
    margin-right: 5px;
  }
  .body__nosotros .nosotros .texto {
    font-size: 80%;
    height: 80%;
    width: 70%;
  }
  .body__nosotros .nosotros .imagen img {
    width: 260px;
    height: 220px;
    border: dotted black 5px;
  }
  .body__nosotros footer p {
    font-size: 50%;
  }
}
@media (min-height: 576px) and (max-height: 768px) and (orientation: landscape) {
  .body__nosotros nav {
    font-size: 90%;
  }
  .body__nosotros h1 {
    font-size: 180%;
  }
  .body__nosotros .nosotros {
    margin-left: 5px;
    margin-right: 5px;
  }
  .body__nosotros .nosotros .texto {
    font-size: 80%;
    height: 80%;
    width: 70%;
  }
  .body__nosotros .nosotros .imagen img {
    width: 260px;
    height: 220px;
    border: dotted black 5px;
  }
  .body__nosotros footer p {
    font-size: 50%;
  }
}
@media (min-height: 768px) and (max-height: 886px) and (orientation: landscape) {
  .body__nosotros nav {
    font-size: 90%;
  }
  .body__nosotros h1 {
    font-size: 180%;
  }
  .body__nosotros .nosotros {
    margin-left: 5px;
    margin-right: 5px;
  }
  .body__nosotros .nosotros .texto {
    font-size: 90%;
    height: 80%;
    width: 70%;
  }
  .body__nosotros .nosotros .imagen img {
    width: 270px;
    height: 230px;
    border: dotted black 5px;
  }
  .body__nosotros footer p {
    font-size: 50%;
  }
}
/* media querie contacto.html*/
@media (max-width: 576px) and (orientation: portrait) {
  .body__contacto .textoItems {
    width: 100%;
  }
  .body__contacto .textoItems p {
    font-size: 70%;
    height: 50%;
  }
  .body__contacto .textoItems address ul {
    margin-top: 10px;
  }
  .body__contacto .textoItems address ul li {
    font-size: 70%;
    padding: 10%;
  }
  .body__contacto .mapa iframe {
    height: 40%;
    width: 100%;
    margin: 10px;
  }
  .body__contacto footer .redesSociales {
    height: 100%;
    width: 100%;
  }
  .body__contacto footer .redesSociales .redes h2 {
    font-size: 90%;
  }
  .body__contacto footer .redesSociales .redes img {
    padding: 6px;
    width: 22%;
    height: 30%;
  }
  .body__contacto footer .redesSociales .lorem h3 {
    font-size: 90%;
  }
  .body__contacto footer .redesSociales .botella {
    width: 20%;
    height: 20%;
  }
  .body__contacto footer .footer__copyright {
    font-size: 80%;
  }
}
@media (min-width: 576px) and (max-width: 768px) and (orientation: portrait) {
  .body__contacto .textoItems {
    width: 110%;
  }
  .body__contacto .textoItems p {
    font-size: 90%;
    height: 50%;
  }
  .body__contacto .textoItems address ul {
    margin-top: 10px;
  }
  .body__contacto .textoItems address ul li {
    font-size: 90%;
    padding: 10%;
  }
  .body__contacto .mapa iframe {
    height: 50%;
    width: 100%;
    margin: 10px;
  }
  .body__contacto footer .redesSociales {
    height: 100%;
    width: 100%;
  }
  .body__contacto footer .redesSociales .redes h2 {
    font-size: 100%;
  }
  .body__contacto footer .redesSociales .redes img {
    padding: 6px;
    width: 22%;
    height: 30%;
  }
  .body__contacto footer .redesSociales .lorem h3 {
    font-size: 100%;
  }
  .body__contacto footer .redesSociales .botella {
    width: 20%;
    height: 20%;
  }
  .body__contacto footer .footer__copyright {
    font-size: 90%;
  }
}
@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  .body__contacto .textoItems {
    width: 120%;
  }
  .body__contacto .textoItems p {
    font-size: 95%;
    height: 50%;
  }
  .body__contacto .textoItems address ul {
    margin-top: 10px;
  }
  .body__contacto .textoItems address ul li {
    font-size: 90%;
    padding: 10%;
  }
  .body__contacto .mapa iframe {
    height: 50%;
    width: 100%;
    margin: 10px;
  }
  .body__contacto footer .redesSociales {
    height: 100%;
    width: 100%;
  }
  .body__contacto footer .redesSociales .redes h2 {
    font-size: 150%;
  }
  .body__contacto footer .redesSociales .redes img {
    padding: 6px;
    width: 20%;
    height: 40%;
  }
  .body__contacto footer .redesSociales .lorem h3 {
    font-size: 100%;
  }
  .body__contacto footer .redesSociales .botella {
    width: 13%;
    height: 12%;
  }
  .body__contacto footer .footer__copyright {
    font-size: 100%;
  }
}
@media (max-height: 576px) and (orientation: landscape) {
  .body__contacto .textoItems {
    width: 120%;
  }
  .body__contacto .textoItems p {
    font-size: 95%;
    height: 50%;
  }
  .body__contacto .textoItems address ul {
    margin-top: 10px;
  }
  .body__contacto .textoItems address ul li {
    font-size: 90%;
    padding: 10%;
  }
  .body__contacto .mapa iframe {
    height: 50%;
    width: 100%;
    margin: 10px;
  }
  .body__contacto footer .redesSociales {
    height: 100%;
    width: 100%;
  }
  .body__contacto footer .redesSociales .redes h2 {
    font-size: 150%;
  }
  .body__contacto footer .redesSociales .redes img {
    padding: 6px;
    width: 20%;
    height: 40%;
  }
  .body__contacto footer .redesSociales .lorem h3 {
    font-size: 100%;
  }
  .body__contacto footer .redesSociales .botella {
    width: 13%;
    height: 12%;
  }
  .body__contacto footer .footer__copyright {
    font-size: 100%;
  }
}
@media (min-height: 576px) and (max-height: 768px) and (orientation: landscape) {
  .body__contacto .textoItems {
    width: 120%;
  }
  .body__contacto .textoItems p {
    font-size: 110%;
    height: 50%;
  }
  .body__contacto .textoItems address ul {
    margin-top: 15px;
  }
  .body__contacto .textoItems address ul li {
    font-size: 100%;
    padding: 20%;
  }
  .body__contacto .mapa iframe {
    height: 50%;
    width: 100%;
    margin: 10px;
  }
  .body__contacto footer .redesSociales {
    height: 100%;
    width: 100%;
  }
  .body__contacto footer .redesSociales .redes h2 {
    font-size: 160%;
  }
  .body__contacto footer .redesSociales .redes img {
    padding: 6px;
    width: 15%;
    height: 35%;
  }
  .body__contacto footer .redesSociales .lorem h3 {
    font-size: 170%;
  }
  .body__contacto footer .redesSociales .botella {
    width: 10%;
    height: 11%;
  }
  .body__contacto footer .footer__copyright {
    font-size: 100%;
  }
}
@media (min-height: 768px) and (max-height: 886px) and (orientation: landscape) {
  .body__contacto .textoItems {
    width: 120%;
  }
  .body__contacto .textoItems p {
    font-size: 120%;
    height: 50%;
  }
  .body__contacto .textoItems address ul {
    margin-top: 15px;
  }
  .body__contacto .textoItems address ul li {
    font-size: 100%;
    padding: 20%;
  }
  .body__contacto .mapa iframe {
    height: 60%;
    width: 100%;
    margin: 10px;
  }
  .body__contacto footer .redesSociales {
    height: 100%;
    width: 100%;
  }
  .body__contacto footer .redesSociales .redes h2 {
    font-size: 160%;
  }
  .body__contacto footer .redesSociales .redes img {
    padding: 6px;
    width: 20%;
    height: 37%;
  }
  .body__contacto footer .redesSociales .lorem h3 {
    font-size: 170%;
  }
  .body__contacto footer .redesSociales .botella {
    width: 10%;
    height: 11%;
  }
  .body__contacto footer .footer__copyright {
    font-size: 100%;
  }
}
/* media querie registro.html*/
@media (max-width: 576px) and (orientation: portrait) {
  .body__registro {
    background-image: none;
    background-color: #ebb87b;
  }
  .body__registro .volver {
    font-size: 170%;
  }
  .body__registro .formulario {
    margin-top: 10px;
    width: 90%;
    height: 90%;
    font-size: 150%;
  }
  .body__registro .formulario h1 {
    font-size: 270%;
  }
  .body__registro .formulario div label {
    font-size: 120%;
  }
  .body__registro .formulario div .txt {
    height: 150%;
  }
  .body__registro .formulario div .txt:focus {
    height: 160%;
  }
}
@media (min-width: 576px) and (max-width: 768px) and (orientation: portrait) {
  .body__registro {
    background-image: none;
    background-color: #ebb87b;
  }
  .body__registro .volver {
    font-size: 170%;
  }
  .body__registro .formulario {
    margin-top: 13px;
    width: 90%;
    height: 90%;
    font-size: 190%;
  }
  .body__registro .formulario h1 {
    font-size: 270%;
  }
  .body__registro .formulario div label {
    font-size: 120%;
  }
  .body__registro .formulario div .txt {
    height: 170%;
  }
  .body__registro .formulario div .txt:focus {
    height: 180%;
  }
}
@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  .body__registro {
    background-image: none;
    background-color: #ebb87b;
  }
  .body__registro .volver {
    font-size: 170%;
  }
  .body__registro .formulario {
    margin-top: 15px;
    width: 90%;
    height: 90%;
    font-size: 20%;
  }
  .body__registro .formulario h1 {
    font-size: 300%;
  }
  .body__registro .formulario div label {
    font-size: 170%;
  }
  .body__registro .formulario div .txt {
    height: 200%;
  }
  .body__registro .formulario div .txt:focus {
    height: 210%;
  }
}
@media (max-height: 576px) and (orientation: landscape) {
  .body__registro {
    background-image: none;
    background-color: #ebb87b;
  }
  .body__registro .volver {
    font-size: 170%;
  }
  .body__registro .formulario {
    margin-top: 10px;
    width: 90%;
    height: 90%;
    font-size: 150%;
  }
  .body__registro .formulario h1 {
    font-size: 270%;
  }
  .body__registro .formulario div label {
    font-size: 120%;
  }
  .body__registro .formulario div .txt {
    height: 170%;
  }
  .body__registro .formulario div .txt:focus {
    height: 180%;
  }
}
@media (min-height: 576px) and (max-height: 768px) and (orientation: landscape) {
  .body__registro {
    background-image: none;
    background-color: #ebb87b;
  }
  .body__registro .volver {
    font-size: 175%;
  }
  .body__registro .formulario {
    margin-top: 13px;
    width: 90%;
    height: 90%;
    font-size: 150%;
  }
  .body__registro .formulario h1 {
    font-size: 270%;
  }
  .body__registro .formulario div label {
    font-size: 120%;
  }
  .body__registro .formulario div .txt {
    height: 180%;
  }
  .body__registro .formulario div .txt:focus {
    height: 190%;
  }
}
@media (min-height: 768px) and (max-height: 886px) and (orientation: landscape) {
  .body__registro {
    background-image: none;
    background-color: #ebb87b;
  }
  .body__registro .volver {
    font-size: 180%;
  }
  .body__registro .formulario {
    margin-top: 15px;
    width: 90%;
    height: 90%;
    font-size: 150%;
  }
  .body__registro .formulario h1 {
    font-size: 270%;
  }
  .body__registro .formulario div label {
    font-size: 120%;
  }
  .body__registro .formulario div .txt {
    height: 190%;
  }
  .body__registro .formulario div .txt:focus {
    height: 200%;
  }
}
/* media querie inicioSesión.html*/
@media (max-width: 576px) and (orientation: portrait) {
  .body__inicioSesion {
    background-image: none;
    background-color: navajowhite;
  }
  .body__inicioSesion .volver {
    color: #eeae60;
    padding-left: 0;
    font-size: 35px;
  }
  .body__inicioSesion .formulario {
    width: 90%;
    height: max-content;
    margin-top: 30px;
  }
  .body__inicioSesion .formulario h1 {
    font-size: 60px;
  }
  .body__inicioSesion .formulario label {
    font-size: 30px;
  }
  .body__inicioSesion .formulario input {
    font-size: 28%;
    width: 42%;
  }
  .body__inicioSesion .formulario input:focus {
    width: 45%;
    font-size: 15px;
  }
}
@media (min-width: 576px) and (max-width: 768px) and (orientation: portrait) {
  .body__inicioSesion {
    background-image: none;
    background-color: navajowhite;
  }
  .body__inicioSesion .volver {
    color: #eeae60;
    padding-left: 0;
    font-size: 40px;
  }
  .body__inicioSesion .formulario {
    width: 90%;
    height: max-content;
    margin-top: 30px;
  }
  .body__inicioSesion .formulario h1 {
    font-size: 80px;
  }
  .body__inicioSesion .formulario label {
    font-size: 35px;
  }
  .body__inicioSesion .formulario input {
    font-size: 28%;
    width: 50%;
  }
  .body__inicioSesion .formulario input:focus {
    width: 45%;
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  .body__inicioSesion {
    background-image: none;
    background-color: navajowhite;
  }
  .body__inicioSesion .volver {
    color: #eeae60;
    padding-left: 0;
    font-size: 43px;
  }
  .body__inicioSesion .formulario {
    width: 90%;
    height: max-content;
    margin-top: 30px;
  }
  .body__inicioSesion .formulario h1 {
    font-size: 60px;
  }
  .body__inicioSesion .formulario label {
    font-size: 40px;
  }
  .body__inicioSesion .formulario input {
    font-size: 28%;
    width: 50%;
  }
  .body__inicioSesion .formulario input:focus {
    width: 45%;
    font-size: 20px;
  }
}
@media (max-height: 576px) and (orientation: landscape) {
  .body__inicioSesion {
    background-image: none;
    background-color: navajowhite;
  }
  .body__inicioSesion .volver {
    color: #eeae60;
    padding: 0px;
    font-size: 40px;
  }
  .body__inicioSesion .formulario {
    margin-top: 20px;
    height: max-content;
    width: 90%;
  }
  .body__inicioSesion .formulario h1 {
    font-size: 70px;
  }
  .body__inicioSesion .formulario label {
    font-size: 30px;
  }
  .body__inicioSesion .formulario input {
    width: 45%;
  }
  .body__inicioSesion .formulario input:focus {
    font-size: 30%;
    width: 45%;
  }
}
@media (min-height: 576px) and (max-height: 768px) and (orientation: landscape) {
  .body__inicioSesion {
    background-image: none;
    background-color: navajowhite;
  }
  .body__inicioSesion .volver {
    color: #eeae60;
    padding-left: 0;
    font-size: 40px;
  }
  .body__inicioSesion .formulario {
    width: 90%;
    height: max-content;
    margin-top: 30px;
  }
  .body__inicioSesion .formulario h1 {
    font-size: 80px;
  }
  .body__inicioSesion .formulario label {
    font-size: 40px;
  }
  .body__inicioSesion .formulario input {
    font-size: 28%;
    width: 50%;
  }
  .body__inicioSesion .formulario input:focus {
    width: 45%;
    font-size: 30%;
  }
}
@media (min-height: 768px) and (max-height: 886px) and (orientation: landscape) {
  .body__inicioSesion {
    background-image: none;
    background-color: navajowhite;
  }
  .body__inicioSesion .volver {
    color: #eeae60;
    padding-left: 0;
    font-size: 43px;
  }
  .body__inicioSesion .formulario {
    width: 90%;
    height: max-content;
    margin-top: 30px;
  }
  .body__inicioSesion .formulario h1 {
    font-size: 100px;
  }
  .body__inicioSesion .formulario label {
    font-size: 45px;
  }
  .body__inicioSesion .formulario input {
    font-size: 28%;
    width: 50%;
  }
  .body__inicioSesion .formulario input:focus {
    width: 45%;
    font-size: 30%;
  }
}
/*media querie error404.html*/
@media (max-width: 576px) and (orientation: portrait) {
  .body__error {
    background-image: none;
    background-color: #45c0c0;
  }
  .body__error h1 {
    font-size: 250%;
    margin-left: 0;
    text-align: center;
  }
  .body__error h2 {
    font-size: 160%;
    margin-top: 10%;
    margin-left: 0;
    text-align: center;
  }
  .body__error h3 {
    font-size: 170%;
    margin-left: 30%;
  }
  .body__error h3:hover {
    font-size: 180%;
    margin-left: 30%;
  }
}
@media (min-width: 576px) and (max-width: 768px) and (orientation: portrait) {
  .body__error {
    background-image: none;
    background-color: #45c0c0;
  }
  .body__error h1 {
    font-size: 250%;
    margin-left: 0;
    text-align: center;
  }
  .body__error h2 {
    font-size: 160%;
    margin-top: 10%;
    margin-left: 0;
    text-align: center;
  }
  .body__error h3 {
    font-size: 170%;
    margin-left: 35%;
  }
  .body__error h3:hover {
    font-size: 180%;
    margin-left: 35%;
  }
}
@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  .body__error {
    background-image: none;
    background-color: #45c0c0;
  }
  .body__error h1 {
    font-size: 250%;
    margin-left: 0;
    text-align: center;
  }
  .body__error h2 {
    font-size: 160%;
    margin-top: 10%;
    margin-left: 0;
    text-align: center;
  }
  .body__error h3 {
    font-size: 170%;
    margin-left: 40%;
  }
  .body__error h3:hover {
    font-size: 180%;
    margin-left: 39%;
  }
}
@media (max-height: 576px) and (orientation: landscape) {
  .body__error {
    background-image: none;
    background-color: #45c0c0;
  }
  .body__error h1 {
    font-size: 250%;
    margin-left: 0;
    text-align: center;
  }
  .body__error h2 {
    font-size: 160%;
    margin-top: 10%;
    margin-left: 0;
    text-align: center;
  }
  .body__error h3 {
    font-size: 170%;
    margin-left: 38%;
  }
  .body__error h3:hover {
    font-size: 180%;
    margin-left: 37%;
  }
}
@media (min-height: 576px) and (max-height: 768px) and (orientation: landscape) {
  .body__error {
    background-image: none;
    background-color: #45c0c0;
  }
  .body__error h1 {
    font-size: 250%;
    margin-left: 0;
    text-align: center;
  }
  .body__error h2 {
    font-size: 160%;
    margin-top: 10%;
    margin-left: 0;
    text-align: center;
  }
  .body__error h3 {
    font-size: 170%;
    margin-left: 40%;
  }
  .body__error h3:hover {
    font-size: 180%;
    margin-left: 39%;
  }
}
@media (max-height: 866px) and (orientation: landscape) {
  .body__error {
    background-image: none;
    background-color: #45c0c0;
  }
  .body__error h1 {
    font-size: 250%;
    margin-left: 0;
    text-align: center;
  }
  .body__error h2 {
    font-size: 160%;
    margin-top: 10%;
    margin-left: 0;
    text-align: center;
  }
  .body__error h3 {
    font-size: 170%;
    margin-left: 41%;
  }
  .body__error h3:hover {
    font-size: 180%;
    margin-left: 40%;
  }
}
/*# sourceMappingURL=styles.scss.map */

/*# sourceMappingURL=styles.css.map */
