@charset "UTF-8";
/* general */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.footer__copyright {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  padding: 3px;
  font-size: 20px;
}

/* index.html */
.body__index {
  background-color: #ca7a4c;
}
.body__index nav img {
  width: 60px;
  padding: 9px;
  background-color: maroon;
}
.body__index #carouselExampleControls img {
  width: 100%;
  height: 45rem;
}
.body__index h1 {
  text-align: center;
  text-decoration: underline;
}
.body__index .productos {
  background-image: url(imagenes/fondoIndex.jpg);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 200px;
}
.body__index .productos .imagenes {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  grid-column-gap: 180px;
  grid-row-gap: 180px;
  justify-content: center;
}
.body__index .productos .imagenes img {
  width: 200px;
  height: 200px;
  border: dotted 5px #9ec24b;
}
.body__index .productos .imagenes img:hover {
  transform: scale(1.1);
}
.body__index footer {
  height: max-content;
  width: 100%;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.808);
  color: #dbe1e6;
}
.body__index footer .redesSociales {
  display: flex;
  justify-content: space-evenly;
}
.body__index footer .redesSociales .redes {
  margin-top: 20px;
}
.body__index footer .redesSociales .redes h2 {
  text-align: center;
}
.body__index footer .redesSociales .redes img {
  padding: 10px;
}
.body__index footer .redesSociales .lorem {
  margin-top: 30px;
}
.body__index footer .redesSociales .lorem h3 {
  display: inline;
  padding: 20px;
}

/* registro.html */
.body__registro {
  font-family: "Style Script", cursive;
  background-image: url(imagenes/fondoCorchoR.jpg);
  background-size: cover;
}
.body__registro .volverR {
  color: #faf5f0;
  font-size: 45px;
  padding: 50px;
}
.body__registro .tituloR {
  background-color: bisque;
  font-size: 140px;
  color: #f0ad56;
}
.body__registro .formularioR {
  background-color: #f3d6b3;
  height: auto;
  width: 16cm;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  border: dotted 10px #f1b872;
  font-size: 36px;
}
.body__registro .formularioR .txtR {
  width: 5cm;
  height: 26px;
}
.body__registro .formularioR .txtR:focus {
  width: 6cm;
  height: 30px;
  font-size: 26px;
}
.body__registro .formularioR .TYCR {
  color: #7979eb;
}
.body__registro .formularioR .buttonR {
  background-color: #fdcc8b;
  width: 4cm;
  height: 38px;
  font-size: 28px;
  font-family: "Style Script", cursive;
}
.body__registro .formularioR .menuR {
  width: 7cm;
  height: 30px;
  font-size: 20px;
  background-color: #ffcd91;
}

/* inicioSesión.html */
.body__inicioSesion {
  background-image: url(imagenes/fondoBodegaIS.jpg);
  background-size: 120rem;
  font-family: "Style Script", cursive;
}
.body__inicioSesion .volverIS {
  color: blanchedalmond;
  font-size: 45px;
  padding: 40px;
}
.body__inicioSesion .formularioIS {
  width: 650px;
  height: 450px;
  text-align: center;
  margin: auto;
  margin-top: 130px;
  border: dotted 8px #92844d;
  background-color: #ffebd2;
  font-size: 50px;
  color: #333;
}
.body__inicioSesion .formularioIS h1 {
  font-size: 130px;
  color: #ac906c;
  background-color: bisque;
}
.body__inicioSesion .formularioIS input {
  width: 200px;
  height: 25px;
}
.body__inicioSesion .formularioIS input:focus {
  width: 250px;
  height: 30px;
  font-size: 20px;
}
.body__inicioSesion .formularioIS button {
  background-color: #f0d8b5;
  width: 140px;
  height: 30px;
  font-size: 23px;
  font-family: "Style Script", cursive;
}

/* nosotros.html */
.body__nosotros {
  font-family: "Style Script", cursive;
  font-size: 40px;
  margin: 15px 6cm 0px 6cm;
  background-image: linear-gradient(to bottom, #ebb87b, bisque);
}
.body__nosotros nav {
  word-spacing: 20px;
}
.body__nosotros h1 {
  text-align: center;
  font-size: 60px;
}
.body__nosotros .nosotros {
  display: flex;
  justify-content: space-evenly;
}
.body__nosotros .nosotros .texto h2 {
  text-align: center;
}
.body__nosotros .nosotros .imagen img {
  width: 600px;
  height: 370px;
  border: dotted black 8px;
}

/* contacto.html */
.body__contacto {
  background-color: aliceblue;
  font-family: "EB Garamond", serif;
}
.body__contacto nav {
  padding: 10px;
  word-spacing: 10px;
  font-size: 27px;
}
.body__contacto h1 {
  text-align: center;
  text-decoration: overline underline;
  font-size: 50px;
}
.body__contacto .contacto {
  display: flex;
  justify-content: space-evenly;
}
.body__contacto .contacto .textoItems {
  width: 40%;
  font-size: 20px;
}
.body__contacto .contacto .textoItems ul {
  list-style: none;
}
.body__contacto .mapa {
  width: 40%;
}
.body__contacto footer {
  height: max-content;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.781);
  background-size: cover;
  color: aliceblue;
}
.body__contacto footer .redesSociales {
  display: flex;
  justify-content: space-evenly;
}
.body__contacto footer .redesSociales .redes {
  margin-top: 10px;
}
.body__contacto footer .redesSociales .redes h2 {
  text-align: center;
}
.body__contacto footer .redesSociales .redes img {
  padding: 10px;
}
.body__contacto footer .redesSociales .lorem {
  margin-top: 10px;
}
.body__contacto footer .redesSociales .lorem h3 {
  display: inline;
  padding: 20px;
}
.body__contacto footer .redesSociales .botella {
  width: 110px;
  height: 100px;
  margin-top: 10px;
}

/* terminosYCondiciones.html */
.body__terminosYCondiciones {
  background-color: rgba(141, 141, 216, 0.377);
}
.body__terminosYCondiciones nav {
  font-size: 30px;
  padding: 10px;
}
.body__terminosYCondiciones .TYC h1 {
  text-align: center;
  text-decoration: underline double #393985;
}
.body__terminosYCondiciones .TYC p {
  padding: 30px;
  font-size: 25px;
  font-family: "WindSong", cursive;
  color: black;
}
.body__terminosYCondiciones .TYC ul li {
  padding: 6px;
  margin-left: 6.3cm;
  font-size: 20px;
}

/*error404*/
.body__error {
  background-image: url(imagenes/error.jpg);
  background-size: cover;
}
.body__error h1 {
  font-size: 100px;
  margin-top: 3cm;
  margin-left: 7.4cm;
  color: aquamarine;
}
.body__error h2 {
  font-size: 59px;
  margin-top: 6cm;
  margin-left: 6cm;
}
.body__error h3 {
  width: max-content;
  margin-top: 40px;
  margin-left: 10.7cm;
  font-size: 40px;
  animation: rebote 0.5s infinite 3s;
}
@keyframes rebote {
  0% {
    margin-top: 40px;
    margin-left: 10.7cm;
  }
  25% {
    transform: translate(-3px, 0px);
  }
  50% {
    transform: translate(1px, 0px);
  }
  75% {
    transform: translate(5px, 0px);
  }
  100% {
    margin-top: 40px;
    margin-left: 10.7cm;
  }
}
.body__error h3:hover {
  font-size: 42px;
  margin-left: 10.5cm;
}

/* media querie index.html*/
/* media querie contacto.html*/
/* media querie registro.html*/
/* media querie inicioSesión.html*/
@media (max-width: 576px) and (orientation: portrait) {
  .body__inicioSesion {
    background-image: none;
    background-color: navajowhite;
  }
  .body__inicioSesion .volverIS {
    padding-left: 0;
    font-size: 40px;
    color: #eeae60;
  }
  .body__inicioSesion .formularioIS {
    width: 90%;
    height: max-content;
    margin-top: 30px;
  }
  .body__inicioSesion .formularioIS h1 {
    font-size: 60px;
  }
  .body__inicioSesion .formularioIS label {
    font-size: 30px;
  }
  .body__inicioSesion .formularioIS input {
    width: 42%;
  }
  .body__inicioSesion .formularioIS input:focus {
    width: 45%;
    font-size: 15px;
  }
}
@media (max-height: 576px) and (orientation: landscape) {
  .body__inicioSesion {
    background-image: none;
    background-color: navajowhite;
  }
  .body__inicioSesion .volverIS {
    color: #eeae60;
    padding: 0px;
    font-size: 40px;
  }
  .body__inicioSesion .formularioIS {
    margin-top: 20px;
    height: max-content;
    width: 90%;
  }
  .body__inicioSesion .formularioIS h1 {
    font-size: 50px;
  }
  .body__inicioSesion .formularioIS label {
    font-size: 30px;
  }
  .body__inicioSesion .formularioIS input {
    width: 45%;
  }
  .body__inicioSesion .formularioIS input:focus {
    transform: scale(1.01);
    font-size: 18px;
  }
}
/* media querie terminosYCondiciones.html*/
/* copyright */
/*# sourceMappingURL=styles.scss.map */

/*# sourceMappingURL=styles.css.map */
